.cursor {
    width: 62px;
    height: 62px;
    border: 2px solid $black;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $white;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: 500ms ease-out;
    z-index: 2;
    backdrop-filter: brightness(100%);
  
    &.hovered {
      width: 30px;
      height: 30px;
  }
  } 