@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Questrial-Regular.ttf);
  }
  @font-face {
    font-family: "font-2";
    src: url(../assets/fonts/Michroma-Regular.ttf);
  }
  
  $font-1: "font-1", sans-serif;
  $font-2: "font-2", serif;
  
  $color-1: #F2EADF;
  $color-2: #73706C;
  $color-3: #D9D2CC;
  $color-4: #A6A09C;
  $color-5:#ffff00;
  $color-6:#D95204;
  $black:#000000;
  $white: #ffffff;
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;


  
    &::selection {
      color: $color-1;
      background: $color-2;

    }
    }

  html { 
    scroll-behavior: auto;
  }
  a,
  a:visited {
    color:$black;
  }
  body {
    font-family: $font-2;
    background-color: #F2EADF;
    overflow: hidden;
  
    @media screen and (max-width: 430px){
      position: relative;
      max-width: 100vw;
      overflow-y: initial;
    }
  }
  main {
    position: relative;
  
  }
  
  .button {
    background: #F2EADF;
    height: 55px;
    width: 126px;
    border-radius: 50px;
    margin-top: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
  
    &:hover {
      letter-spacing: 1px;
      color: #D9D2CC;

    }
  }